<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>즐거움은 미루지 마세요. Tripjoy</title>
    <link rel="stylesheet" href="../css/sub_2.css">
    <!-- <script src=""></script> -->
</head>
<body>

    <header class="header animated headroom--top headroom--not-bottom">
        
        <!-- 상단 메뉴바 시작 -->
        <nav class="hd_wrap center">
            <h1>
                <a href="/html/main.html">
                    <img src="/imgs/logo/logow.svg" alt="트립조이">
                </a>
            </h1>

            <ul>
                <li><a href="../html/sub_1.html">인기 국가</a></li>
                <li><a href="../html/sub_1_1.html">인기 도시</a></li>
                <li><a href="#">인기 액티비티</a></li>
                <!-- <li><a href="">둘러보기</a></li> -->
            </ul>

            <ul id="menu2">
                <li><select class="lang-select">
                    <option value="kr">대한민국</option>
                    <option value="us">미국</option>
                    <option value="jp">일본</option>
                    <option value="cn">중국</option>
                </select></li>

                <li><select class="currency-select">
                    <option value="krw">KRW</option>
                    <option value="usd">USD</option>
                    <option value="jpy">JPY</option>
                    <option value="eur">EUR</option>
                </select></li>

                <li><a href="">FAQ</a></li>
                <li><a href="">내 정보</a></li> 
                <li id="login"><a href="../html/login.html">로그인 / 회원가입</a></li>
            </ul>

        </nav>
    </header>
    <!-- 상단 메뉴바 끝 -->

    <!-- 블루 -->
    <div class="blue-bg">
        <!-- 검색 창 -->
        <div class="search_area">
            <span class="search_icon_box">
                <svg width="20" height="20" viewBox="0 0 48 48" fill="none" class="search_icon">
                    <circle cx="22"  cy="22" r="18" stroke="#A8A8A8" stroke-width="3.6"></circle>
                    <path d="M35 35L44 44" stroke="#A8A8A8" stroke-width="3.6" stroke-linecap="round"></path>
                </svg>
                <input type="text" placeholder="어디로 떠나고 싶으세요?">
                <button type="submit">검색</button>
            </span>
        </div>
    </div>
    <!-- 블루 박스 끝 -->

    <!-- main banner img box 시작 -->
    <div class="main_banner_box">
        <div class="banner_overlay">

            <div class="banner_text">
                <h2>오사카 OSAKA</h2>
                <p>오사카는 전통과 현대가 공존하는 간사이 지역의 대표 도시입니다.
                    <br>도톤보리, 오사카성, 유니버설 스튜디오 재팬 등 다양한 명소와 먹거리가 가득해
                    <br>여행지로 인기가 많으며 활기찬 분위기와 따뜻한 지역민의 정이 어우러져 더욱 매력적인 곳입니다.</p>
                <p class="season">방문하기 좋은 시기 <br><strong>4 ~ 5월</strong> <span style="color: #A4A4A4;">&nbsp;벚꽃 개화시기</span></p>
            </div>

        </div>
    </div>
    <!-- main banner img box 끝-->

    <!-- 추천 상품 카드 시작 -->
    <div class="product_section">

        <h2 class="ssuggestion_title">추천 상품</h2>

        <div class="product_list">

            <div class="product_card">
                <div class="product_img">
                    <span class="small_text">예약 즉시 확정</span>
                </div>
                <div class="product_info">
                    <a href="../html/sub_3.html">
                    <p class="product_location">전망대 · 오사카</p>
                    <p class="product_title">오사카 우메다 스카이 빌딩 &<br>우메다 공중정원 전망대 입장권</p>
                    <p class="product_price">₩ 19,100 ~</p></a>
                </div>
            </div>

            <div class="product_card">
                <div class="product_img">
                    <span class="small_text">예약 즉시 확정<br><span class="free_cancel">무료 취소</span></span>
                </div>
                <div class="product_info">
                    <p class="product_location">테마파크 · 오사카</p>
                    <p class="product_title">오사카 유니버설 스튜디오 재팬 입장권</p>
                    <p class="product_price">₩ 84,500 ~</p>
                </div>
            </div>

            <div class="product_card">
                <div class="product_img">
                    <span class="small_text">예약 즉시 확정</span>
                </div>
                <div class="product_info">
                    <p class="product_location">테마파크 · 오사카</p>
                    <p class="product_title">오사카 유니버설 스튜디오 재팬 입장권</p>
                    <p class="product_price">₩ 84,500 ~</p>
                </div>
            </div>

            <div class="product_card">
                <div class="product_img">
                    <span class="small_text">예약 즉시 확정</span>
                </div>
                <div class="product_info">
                    <p class="product_location">테마파크 · 오사카</p>
                    <p class="product_title">오사카 유니버설 스튜디오 재팬 입장권</p>
                    <p class="product_price">₩ 84,500 ~</p>
                </div>
            </div>

        </div>
    </div>
    <!-- 추천 상품 카드 끝 -->

    <!-- 전체 상품 카드 시작 -->
    <div class="product_section">

        <h2 class="ssuggestion_title">전체 상품</h2>

        <div class="product_list">

            <div class="product_card">
                <div class="product_img">
                    <span class="small_text">예약 즉시 확정</span>
                </div>
                <div class="product_info">
                    <p class="product_location">테마파크 · 오사카</p>
                    <p class="product_title">오사카 유니버설<br> 스튜디오 재팬 입장권</p>
                    <p class="product_price">₩ 84,500 ~</p>
                </div>
            </div>

            <div class="product_card">
                <div class="product_img">
                    <span class="small_text">예약 즉시 확정<br><span class="free_cancel">무료 취소</span></span>
                </div>
                <div class="product_info">
                    <p class="product_location">전망대 · 오사카</p>
                    <p class="product_title">오사카 우메다 스키이 빌딩 & 우메다 공중정원 전망대 입장권</p>
                    <p class="product_price">₩ 84,500 ~</p>
                </div>
            </div>

            <div class="product_card">
                <div class="product_img">
                    <span class="small_text">예약 즉시 확정</span>
                </div>
                <div class="product_info">
                    <p class="product_location">테마파크 · 오사카</p>
                    <p class="product_title">오사카 유니버설 스튜디오 재팬 입장권</p>
                    <p class="product_price">₩ 84,500 ~</p>
                </div>
            </div>

            <div class="product_card">
                <div class="product_img">
                    <span class="small_text">예약 즉시 확정</span>
                </div>
                <div class="product_info">
                    <p class="product_location">테마파크 · 오사카</p>
                    <p class="product_title">오사카 유니버설 스튜디오 재팬 입장권</p>
                    <p class="product_price">₩ 84,500 ~</p>
                </div>
            </div>

        </div>
    </div>
    <!-- 전체 상품 카드 끝 -->

    <!-- 기업정보 영역 시작 -->
    <section class="company-info-section">
        <div class="company-info-container">

            <!-- 구분선 -->
            <div class="divider-line"></div>

            <!-- 왼쪽: 링크 그룹 -->
            <div class="footer-left">
                <div class="footer-column">
                    <span class="footer-title">회사 소개</span>
                    <ul class="footer-list">
                        <li>트립조이 소개</li>
                        <li><a href="https://m.blog.naver.com/PostList.naver?blogId=totolo402">트립조이 블로그</a></li>
                        <li><a href="/ko/blog/">트립조이 가이드</a></li>
                        <li>채용정보</li>
                        <li>지속가능성</li>
                    </ul>
                </div>

                <div class="footer-column">
                    <span class="footer-title">파트너십</span>
                    <ul class="footer-list">
                        <li>머천트 입점 문의</li>
                        <li>머천트 포털</li>
                        <li>제휴 파트너 프로그램</li>
                        <li>인플루언서 프로그램</li>
                        <li>에이전트 B2B 마켓 플레이스</li>
                        <li>트립조이의 파트너사 되기</li>
                    </ul>
                </div>

                <div class="footer-column">
                    <span class="footer-title">이용약관</span>
                    <ul class="footer-list">
                        <li>약관</li>
                        <li>개인정보처리방침</li>
                        <li>쿠키 정책</li>
                        <li>버그 바운티 프로그램</li>
                        <li>위치기반서비스 이용약관</li>
                        <li>동물복지 정책</li>
                    </ul>
                </div>
            </div>

            <!-- 오른쪽: 결제 수단 -->
            <div class="footer-right">
                <span class="footer-title">결제 수단</span>
                <ul class="payment-list">
                    <li><img src="../imgs/main/visa.png" alt="Visa"></li>
                    <li><img src="../imgs/main/master.png" alt="MasterCard"></li>
                    <li><img src="../imgs/main/jcb.png" alt="JCB"></li>
                    <li><img src="../imgs/main/american.png" alt="American Express"></li>
                    <li><img src="../imgs/main/paypal.png" alt="PayPal"></li>
                    <li><img src="../imgs/main/payco.png" alt="Payco"></li>
                    <li><img src="../imgs/main/applepay.png" alt="Apple Pay"></li>
                </ul>
            </div>

        </div>
    </section>
    <!-- 기업정보 영역 끝 -->

    <!-- footer 시작 -->
    <footer class="footer">
        <div class="main_center">
            <a href="/index.php"><img src="../imgs/logo/logow.svg" alt="트립조이" width="150px"></a>
            <p>
                상호명: 트립조이&nbsp;&nbsp;|&nbsp;&nbsp;대표자: 이슬<br>
                사업자번호: 924-98-980924&nbsp;&nbsp;|&nbsp;&nbsp;주소: 인천광역시 연수구 벚꽃로&nbsp;&nbsp;|&nbsp;&nbsp;대표번호: 010-1998-0924
            </p>
            <small>COPYRIGHT (C) 2025 트립조이. ALL RIGHT RESERVED</small>
        </div>
    </footer>
    <!-- footer 끝-->

    <script>
        // 메뉴바
        window.addEventListener('scroll', () => {
            const header = document.querySelector('.header');
            if (window.scrollY > 50) {
                header.classList.add('headroom--not-top');
                } else {
                header.classList.remove('headroom--not-top');
                }
        });
    </script>


</body>
</html>